.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.main_container,
.section_children {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px 80px;

}
.section_first{
    border-bottom: 1px solid orange;
}

.search_bar {
    display: flex;
}
.logo {
    display: flex;
}
.mid {
    display: flex;
    gap:32px;
}
.home_link {
    color: rgb(255, 166, 0);
}
.about_link {
    color: rgb(49, 163, 230);
}
.facilities_link {
    color: rgb(9, 224, 224);
}
.admission_link {
    color: rgb(163, 89, 231);
}
.logo img {
    width: 30%;
    height: 70%;
    margin-top: 4%;
    margin-right: 4%;
}

.login_btn {
    background-color: orange;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 8px 35px;
    border-radius: 10px;
}
.login_btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.08);
    border-color:orange ;
}


.search_bar {
    justify-content: space-between;
}

.main_heading {
    font-size: 56px;
    font-weight: bolder;
}

.first_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: end;
}

.image-container img {
    width: 400px;
    height: 500px;
}
.enroll {
    background-color: black;
    color: white;
    padding: 9px 28px;
    border-radius: 10px;
}
.primary_text  {
    color: orange;
}

.secondary_text  {
    color: rgb(31, 175, 241);
}
