.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.main_container,
.section_children {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px 80px;

}
.section_first{
    border-bottom: 1px solid orange;
}

.search_bar {
    display: flex;
}
.logo {
    display: flex;
}
.mid {
    display: flex;
    gap:32px;
}
.home_link {
    color: rgb(255, 166, 0);
}
.about_link {
    color: rgb(49, 163, 230);
}
.facilities_link {
    color: rgb(9, 224, 224);
}
.admission_link {
    color: rgb(163, 89, 231);
}
.logo img {
    width: 30%;
    height: 70%;
    margin-top: 4%;
    margin-right: 4%;
}

.login_btn {
    background-color: orange;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 8px 35px;
    border-radius: 10px;
}
.login_btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.08);
    border-color:orange ;
}


.search_bar {
    justify-content: space-between;
}

.main_heading {
    font-size: 56px;
    font-weight: bolder;
}

.first_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: end;
}

.image-container img {
    width: 400px;
    height: 500px;
}
.enroll {
    background-color: black;
    color: white;
    padding: 9px 28px;
    border-radius: 10px;
}
.primary_text  {
    color: orange;
}

.secondary_text  {
    color: rgb(31, 175, 241);
}
.standard {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.second_main_heading {
    background-image: url(assets/bg.png);

}
.box {
    display: grid;
    width: 95.5%;
    margin-top: 30px;
    text-align: center;
    padding: 10px;

}
.inside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.kinder,
.elementary,
.middle {
    padding-left: 40%;

}
.read {
    display: grid;
    justify-content: center;
}
#box_one {
    border-radius: 20px;
    background-image: linear-gradient(rgb(183, 243, 243) 10%, white 50%);
    border: 1px solid rgb(186, 238, 241);
}

#box_two {
    border-radius: 20px;
    background-image: linear-gradient(rgb(248, 241, 199) 10%, white 50%);
    border: 1px solid rgb(238, 185, 105);
}

#box_three {
    border-radius: 20px;
    background-image: linear-gradient(rgb(222, 203, 247) 10%, white 50%);
    border: 1px solid rgb(169, 90, 205);
}

#read_one {
    color: rgb(13, 136, 236);
}

#read_two {
    color: rgb(253, 166, 5);
}

#read_three {
    color: rgb(136, 13, 236);
}
.nav_button {
    background-color: orange;
    color: white;
    font-weight: bolder;
    border: none;
    padding: 30px;
    border-radius: 50%;
    margin-bottom: 30px;

}

.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top:20px;
}
.second-image {
    background-image: url("assets/bg.png");
}

.second_main {
    background-image: linear-gradient(white, rgb(240, 202, 132));
}

.child_box_one,
.child_box_two,
.child_box_three,
.child_box_four,
.child_box_five,
.child_box_six,
.child_box_seven {

    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 20px;
}
.child_box_one {
    grid-area: child1;
}

.child_box_two {
    grid-area: child2;
}

.child_box_three {
    grid-area: child3;
}

.child_box_four {
    grid-area: child4;
}

.child_box_five {
    grid-area: child5;
}
.child_box_six {
    grid-area: child6;
}
.child_box_seven {
    grid-area: child7;
}
.section_children {
    margin: 100px 0px 0px 0px;
    display: grid;
    grid-template-areas:
        "child1 child2 child3"
        "child1 child4 child5";
    gap: 15px;

}

.section_children h2 {
    text-align: center;
    margin-bottom: 100px;
}


.box_image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.story-heading {
    text-align: center;
    margin-top: 40px;
}
.view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}
.view_button {
    color: azure;
    background-color: black;
    padding: 10px 45px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.btn{
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 8px 18px;
    font-weight: bold;
    color: rgb(255, 254, 254);
    top: -20px;
    position: absolute;
}
.btn-cyan{
    background-color: cyan;
    
}
.btn-green{
    background-color: #95B226;
    
}
.btn-purple{
    background-color: #7A288A;
}
.box_button {
    padding: 10px;
    position: relative;
}
.last_image{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}
.last_image img{
    height: 55px;
    width: 50px;
    padding-top: 20px ;
    margin-right: 7px;
}
.end_section{
    margin: 0px 80px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    color: white;
    width: 95%;
    height: 100%;
    padding: 80px 0px;
    
}
